extends layout

block content
  section.Alpha
    img(src="/images/alpha.png", alt="Alpha")
    aside
      span.value(data-rotate-alpha-initial) 0
      span.value(data-rotate-alpha) 0
  section.Beta
    img(src="/images/beta.png", alt="Beta")
    aside
      span.value(data-rotate-beta-initial) 0
      span.value(data-rotate-beta) 0
  section.Gamma
    img(src="/images/gamma.png", alt="Gamma")
    aside
      span.value(data-rotate-gamma-initial) 0
      span.value(data-rotate-gamma) 0
