extends layout

block content
  section.Alpha
    img(src="/images/alpha.png", alt="Alpha")
    aside
      span.value(data-rotate-alpha-initial) 0
      span.value(data-rotate-alpha) 0
  section.Beta
    img(src="/images/beta.png", alt="Beta")
    aside
      span.value(data-rotate-beta-initial) 0
      span.value(data-rotate-beta) 0
  section.Gamma
    img(src="/images/gamma.png", alt="Gamma")
    aside
      span.value(data-rotate-gamma-initial) 0
      span.value(data-rotate-gamma) 0

  canvas#Water
    //- img(src="/images/water.jpg", alt="water")

  .adjustmentButtons
    article
      span Alpha
      button.adjustmentButton(data-value="alpha", data-increment=1) +
      button.adjustmentButton(data-value="alpha", data-increment=-1) -
    article
      span Beta
      button.adjustmentButton(data-value="beta", data-increment=10) +
      button.adjustmentButton(data-value="beta", data-increment=-10) -
    article
      span Gamma
      button.adjustmentButton(data-value="gamma", data-increment=1) +
      button.adjustmentButton(data-value="gamma", data-increment=-1) -