extends layout

block content
  section.Alpha
    h1 Alpha
    span.value(data-rotate-alpha) 0
  section.Beta
    h1 Beta
    span.value(data-rotate-beta) 0
  section.Gamma
    h1 Gamma
    span.value(data-rotate-gamma) 0
