* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 33.333333%;
  padding: 30px;
  text-align: center;
  color: #333;
}

section:nth-child(1) {
  background-color: #E3E7D3;
}

section:nth-child(2) {
  background-color: #BDC2BF;
}

section:nth-child(3) {
  background-color: #989C94;
}

section img {
  display: block;
  width: 150px;
  margin-right: 12px;
  border-radius: 6px;
  background-color: white;
}

section .value {
  display: block;
  width: 2em;
  font-family: monospace;
  font-size: 18px;
  text-align: right;
}